.api_default, .api_down, .api_resource_sprited, .api_selected_sprited, .api_unselect_sprited,
.arrow, .arrow_on, .global_download_sprited, .global_github_footer_sprited, .global_github_sprited,
.global_mail_sprited, .global_search_active_sprited, .global_search_default_sprited, .global_source_sprited, .global_tel_sprited,
.global_weibo_sprited, .global_weixin_sprited, .icon_close_default_sprited, .icon_close_hover_sprited, .icon_resource_sucess,
.index_book_sprited, .index_clock_sprited, .index_cmd_sprited, .index_light_sprited, .index_resource_sprited,
.index_social_sprited, .index_sync_sprited, .index_tool_sprited, .index_upload_sprited, .off_1,
.off_2, .on_1, .on_2, .resource_android_sprited, .resource_c_sprited,
.resource_cmd_sprited, .resource_csharp_sprited, .resource_discuz, .resource_django, .resource_drupal,
.resource_emlog, .resource_go_sprited, .resource_ios_sprited, .resource_java_sprited, .resource_net_sprited,
.resource_nodejs_sprited, .resource_octopress, .resource_opoopress, .resource_perl_sprited, .resource_php_sprited,
.resource_phpwind, .resource_plugin, .resource_python_sprited, .resource_ruby_sprited, .resource_sync_sprited,
.resource_tool, .resource_typecho, .resource_upload_sprited, .resource_wordpress, .sdk-android,
.sdk-c, .sdk-csharp, .sdk-go, .sdk-ios, .sdk-java,
.sdk-net, .sdk-nodejs, .sdk-perl, .sdk-php, .sdk-python,
.sdk-ruby {
  background: url('../image/css-sprite.png?1387250985') no-repeat;
}
.api_default { background-position: 0px -1px; width: 13px; height: 13px; }
.api_down { background-position: 0px -16px; width: 13px; height: 13px; }
.api_resource_sprited { background-position: 0px -31px; width: 60px; height: 62px; }
.api_selected_sprited { background-position: 0px -95px; width: 14px; height: 12px; }
.api_unselect_sprited { background-position: 0px -109px; width: 14px; height: 12px; }
.arrow { background-position: 0px -123px; width: 9px; height: 6px; }
.arrow_on { background-position: 0px -131px; width: 9px; height: 6px; }
.global_download_sprited { background-position: 0px -139px; width: 12px; height: 11px; }
.global_github_footer_sprited { background-position: 0px -152px; width: 20px; height: 17px; }
.global_github_sprited { background-position: 0px -171px; width: 13px; height: 12px; }
.global_mail_sprited { background-position: 0px -185px; width: 20px; height: 17px; }
.global_search_active_sprited { background-position: 0px -204px; width: 16px; height: 16px; }
.global_search_default_sprited { background-position: 0px -222px; width: 16px; height: 16px; }
.global_source_sprited { background-position: 0px -240px; width: 13px; height: 11px; }
.global_tel_sprited { background-position: 0px -253px; width: 20px; height: 17px; }
.global_weibo_sprited { background-position: 0px -272px; width: 20px; height: 17px; }
.global_weixin_sprited { background-position: 0px -291px; width: 20px; height: 17px; }
.icon_close_default_sprited { background-position: 0px -310px; width: 16px; height: 18px; }
.icon_close_hover_sprited { background-position: 0px -330px; width: 16px; height: 18px; }
.icon_resource_sucess { background-position: 0px -350px; width: 16px; height: 16px; }
.index_book_sprited { background-position: 0px -368px; width: 65px; height: 57px; }
.index_clock_sprited { background-position: 0px -427px; width: 52px; height: 57px; }
.index_cmd_sprited { background-position: 0px -486px; width: 19px; height: 19px; }
.index_light_sprited { background-position: 0px -507px; width: 53px; height: 57px; }
.index_resource_sprited { background-position: 0px -566px; width: 18px; height: 16px; }
.index_social_sprited { background-position: 0px -584px; width: 18px; height: 16px; }
.index_sync_sprited { background-position: 0px -602px; width: 19px; height: 19px; }
.index_tool_sprited { background-position: 0px -623px; width: 18px; height: 16px; }
.index_upload_sprited { background-position: 0px -641px; width: 19px; height: 19px; }
.off_1 { background-position: 0px -662px; width: 12px; height: 14px; }
.off_2 { background-position: 0px -678px; width: 14px; height: 16px; }
.on_1 { background-position: 0px -696px; width: 12px; height: 14px; }
.on_2 { background-position: 0px -712px; width: 14px; height: 16px; }
.resource_android_sprited { background-position: 0px -730px; width: 70px; height: 40px; }
.resource_c_sprited { background-position: 0px -772px; width: 70px; height: 40px; }
.resource_cmd_sprited { background-position: 0px -814px; width: 27px; height: 27px; }
.resource_csharp_sprited { background-position: 0px -843px; width: 70px; height: 40px; }
.resource_discuz { background-position: 0px -885px; width: 70px; height: 40px; }
.resource_django { background-position: 0px -927px; width: 70px; height: 40px; }
.resource_drupal { background-position: 0px -969px; width: 70px; height: 40px; }
.resource_emlog { background-position: 0px -1011px; width: 70px; height: 40px; }
.resource_go_sprited { background-position: 0px -1053px; width: 70px; height: 40px; }
.resource_ios_sprited { background-position: 0px -1095px; width: 70px; height: 40px; }
.resource_java_sprited { background-position: 0px -1137px; width: 70px; height: 40px; }
.resource_net_sprited { background-position: 0px -1179px; width: 70px; height: 40px; }
.resource_nodejs_sprited { background-position: 0px -1221px; width: 70px; height: 40px; }
.resource_octopress { background-position: 0px -1263px; width: 70px; height: 40px; }
.resource_opoopress { background-position: 0px -1305px; width: 70px; height: 40px; }
.resource_perl_sprited { background-position: 0px -1347px; width: 70px; height: 40px; }
.resource_php_sprited { background-position: 0px -1389px; width: 70px; height: 40px; }
.resource_phpwind { background-position: 0px -1431px; width: 70px; height: 40px; }
.resource_plugin { background-position: 0px -1473px; width: 36px; height: 36px; }
.resource_python_sprited { background-position: 0px -1511px; width: 70px; height: 40px; }
.resource_ruby_sprited { background-position: 0px -1553px; width: 70px; height: 40px; }
.resource_sync_sprited { background-position: 0px -1595px; width: 27px; height: 27px; }
.resource_tool { background-position: 0px -1624px; width: 32px; height: 29px; }
.resource_typecho { background-position: 0px -1655px; width: 70px; height: 40px; }
.resource_upload_sprited { background-position: 0px -1697px; width: 27px; height: 27px; }
.resource_wordpress { background-position: 0px -1726px; width: 70px; height: 40px; }
.sdk-android { background-position: 0px -1768px; width: 65px; height: 36px; }
.sdk-c { background-position: 0px -1806px; width: 65px; height: 36px; }
.sdk-csharp { background-position: 0px -1844px; width: 65px; height: 36px; }
.sdk-go { background-position: 0px -1882px; width: 65px; height: 36px; }
.sdk-ios { background-position: 0px -1920px; width: 65px; height: 36px; }
.sdk-java { background-position: 0px -1958px; width: 65px; height: 36px; }
.sdk-net { background-position: 0px -1996px; width: 65px; height: 36px; }
.sdk-nodejs { background-position: 0px -2034px; width: 65px; height: 36px; }
.sdk-perl { background-position: 0px -2072px; width: 65px; height: 36px; }
.sdk-php { background-position: 0px -2110px; width: 65px; height: 36px; }
.sdk-python { background-position: 0px -2148px; width: 65px; height: 36px; }
.sdk-ruby { background-position: 0px -2186px; width: 65px; height: 36px; }
