.api_default, .api_down, .api_resource_sprited, .api_selected_sprited, .api_unselect_sprited,
.arrow, .arrow_on, .changelog_bug, .changelog_feature, .feed_normal,
.feed_on, .global_download_sprited, .global_github_footer_sprited, .global_github_sprited, .global_mail_sprited,
.global_search_active_sprited, .global_search_default_sprited, .global_source_sprited, .global_tel_sprited, .global_weibo_sprited,
.global_weixin_sprited, .index_book_sprited, .index_clock_sprited, .index_cmd_sprited, .index_light_sprited,
.index_resource_sprited, .index_social_sprited, .index_sync_sprited, .index_tool_sprited, .index_upload_sprited,
.menu_down, .off_1, .off_2, .on_1, .on_2,
.resource_android_sprited, .resource_c_sprited, .resource_cmd_sprited, .resource_csharp_sprited, .resource_discuz,
.resource_django, .resource_drupal, .resource_emlog, .resource_go_sprited, .resource_ios_sprited,
.resource_java_sprited, .resource_net_sprited, .resource_nodejs_sprited, .resource_octopress, .resource_opoopress,
.resource_perl_sprited, .resource_php_sprited, .resource_phpwind, .resource_plugin, .resource_python_sprited,
.resource_ruby_sprited, .resource_sync_sprited, .resource_tool, .resource_typecho, .resource_upload_sprited,
.resource_wordpress, .sdk-android, .sdk-c, .sdk-csharp, .sdk-go,
.sdk-ios, .sdk-java, .sdk-net, .sdk-nodejs, .sdk-perl,
.sdk-php, .sdk-python, .sdk-ruby {
  background: url('../image/css-sprite.png') no-repeat;
}
.api_default { background-position: 0px -1px; width: 13px; height: 13px; }
.api_down { background-position: 0px -16px; width: 13px; height: 13px; }
.api_resource_sprited { background-position: 0px -31px; width: 60px; height: 62px; }
.api_selected_sprited { background-position: 0px -95px; width: 14px; height: 12px; }
.api_unselect_sprited { background-position: 0px -109px; width: 14px; height: 12px; }
.arrow { background-position: 0px -123px; width: 9px; height: 6px; }
.arrow_on { background-position: 0px -131px; width: 9px; height: 6px; }
.changelog_bug { background-position: 0px -139px; width: 16px; height: 17px; }
.changelog_feature { background-position: 0px -158px; width: 16px; height: 17px; }
.feed_normal { background-position: 0px -177px; width: 34px; height: 108px; }
.feed_on { background-position: 0px -287px; width: 34px; height: 108px; }
.global_download_sprited { background-position: 0px -397px; width: 12px; height: 11px; }
.global_github_footer_sprited { background-position: 0px -410px; width: 20px; height: 17px; }
.global_github_sprited { background-position: 0px -429px; width: 13px; height: 12px; }
.global_mail_sprited { background-position: 0px -443px; width: 20px; height: 17px; }
.global_search_active_sprited { background-position: 0px -462px; width: 16px; height: 16px; }
.global_search_default_sprited { background-position: 0px -480px; width: 16px; height: 16px; }
.global_source_sprited { background-position: 0px -498px; width: 13px; height: 11px; }
.global_tel_sprited { background-position: 0px -511px; width: 20px; height: 17px; }
.global_weibo_sprited { background-position: 0px -530px; width: 20px; height: 17px; }
.global_weixin_sprited { background-position: 0px -549px; width: 20px; height: 17px; }
.index_book_sprited { background-position: 0px -568px; width: 65px; height: 57px; }
.index_clock_sprited { background-position: 0px -627px; width: 52px; height: 57px; }
.index_cmd_sprited { background-position: 0px -686px; width: 19px; height: 19px; }
.index_light_sprited { background-position: 0px -707px; width: 53px; height: 57px; }
.index_resource_sprited { background-position: 0px -766px; width: 18px; height: 16px; }
.index_social_sprited { background-position: 0px -784px; width: 18px; height: 16px; }
.index_sync_sprited { background-position: 0px -802px; width: 19px; height: 19px; }
.index_tool_sprited { background-position: 0px -823px; width: 18px; height: 16px; }
.index_upload_sprited { background-position: 0px -841px; width: 19px; height: 19px; }
.menu_down { background-position: 0px -862px; width: 9px; height: 6px; }
.off_1 { background-position: 0px -870px; width: 12px; height: 14px; }
.off_2 { background-position: 0px -886px; width: 14px; height: 16px; }
.on_1 { background-position: 0px -904px; width: 12px; height: 14px; }
.on_2 { background-position: 0px -920px; width: 14px; height: 16px; }
.resource_android_sprited { background-position: 0px -938px; width: 70px; height: 40px; }
.resource_c_sprited { background-position: 0px -980px; width: 70px; height: 40px; }
.resource_cmd_sprited { background-position: 0px -1022px; width: 27px; height: 27px; }
.resource_csharp_sprited { background-position: 0px -1051px; width: 70px; height: 40px; }
.resource_discuz { background-position: 0px -1093px; width: 70px; height: 40px; }
.resource_django { background-position: 0px -1135px; width: 70px; height: 40px; }
.resource_drupal { background-position: 0px -1177px; width: 70px; height: 40px; }
.resource_emlog { background-position: 0px -1219px; width: 70px; height: 40px; }
.resource_go_sprited { background-position: 0px -1261px; width: 70px; height: 40px; }
.resource_ios_sprited { background-position: 0px -1303px; width: 70px; height: 40px; }
.resource_java_sprited { background-position: 0px -1345px; width: 70px; height: 40px; }
.resource_net_sprited { background-position: 0px -1387px; width: 70px; height: 40px; }
.resource_nodejs_sprited { background-position: 0px -1429px; width: 70px; height: 40px; }
.resource_octopress { background-position: 0px -1471px; width: 70px; height: 40px; }
.resource_opoopress { background-position: 0px -1513px; width: 70px; height: 40px; }
.resource_perl_sprited { background-position: 0px -1555px; width: 70px; height: 40px; }
.resource_php_sprited { background-position: 0px -1597px; width: 70px; height: 40px; }
.resource_phpwind { background-position: 0px -1639px; width: 70px; height: 40px; }
.resource_plugin { background-position: 0px -1681px; width: 36px; height: 36px; }
.resource_python_sprited { background-position: 0px -1719px; width: 70px; height: 40px; }
.resource_ruby_sprited { background-position: 0px -1761px; width: 70px; height: 40px; }
.resource_sync_sprited { background-position: 0px -1803px; width: 27px; height: 27px; }
.resource_tool { background-position: 0px -1832px; width: 32px; height: 29px; }
.resource_typecho { background-position: 0px -1863px; width: 70px; height: 40px; }
.resource_upload_sprited { background-position: 0px -1905px; width: 27px; height: 27px; }
.resource_wordpress { background-position: 0px -1934px; width: 70px; height: 40px; }
.sdk-android { background-position: 0px -1976px; width: 65px; height: 36px; }
.sdk-c { background-position: 0px -2014px; width: 65px; height: 36px; }
.sdk-csharp { background-position: 0px -2052px; width: 65px; height: 36px; }
.sdk-go { background-position: 0px -2090px; width: 65px; height: 36px; }
.sdk-ios { background-position: 0px -2128px; width: 65px; height: 36px; }
.sdk-java { background-position: 0px -2166px; width: 65px; height: 36px; }
.sdk-net { background-position: 0px -2204px; width: 65px; height: 36px; }
.sdk-nodejs { background-position: 0px -2242px; width: 65px; height: 36px; }
.sdk-perl { background-position: 0px -2280px; width: 65px; height: 36px; }
.sdk-php { background-position: 0px -2318px; width: 65px; height: 36px; }
.sdk-python { background-position: 0px -2356px; width: 65px; height: 36px; }
.sdk-ruby { background-position: 0px -2394px; width: 65px; height: 36px; }
