.container.brand {
    margin-top: 20px;
    // padding-bottom: 0px;
    background-color: #fff;
    border:1px solid #e9e9e9;

    .brand-cell {

        padding: 25px 25px 10px;

        .brand-body {
            .brand-head {
                text-align: left;
            }
            .brand-content {
                text-align: center;
                .brand-title {

                }
                .brand-link {

                }
            }
        }
        img {
            // text-align: center;
        }
        h2 {
            margin-bottom: 25px;
        }
        a {
            color: #0c94de;
        }
    }
    .brand-cell.brand {

        .brand-body {
            overflow: hidden;
            p {
                margin-bottom: 20px;
            }
            .brand-content {
                position: relative;
                border:1px solid #e9e9e9;
                .brand-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    background-color: #e6e6e6;
                    padding: 5px 10px;
                }
                .brand-link {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100px;
                    a {
                        display: block;
                        width: 100px;
                        height: 20px;
                        line-height: 20px;
                        text-align: left;
                    }
                }
            }
            .brand-content.logo {
                background: url(../image/logo-bg.png) center center no-repeat;
                height: 334px;
                img {
                    margin-top: 58px;
                }
            }
            .brand-content.cn {
                height: 284px;
                border-top: 0;
                border-bottom: 0;
                img {
                    margin-top: 40px;
                }
            }
            .brand-content.en {
                height: 284px;
                width: 560px;
                img {
                    margin-top: 53px;
                }
            }
            .brand-content.pic {
                height: 284px;
                width: 345px;
                border-left: 0;
                img {
                    margin-top: 74px;
                }
            }
        }
    }
    .brand-cell.color {
        margin-top: 20px;
        overflow: hidden;
        .brand-content {
            margin-left: 159px;
            border:1px solid #e9e9e9;
            width: 195px;
            &:first-child {
                margin-left: 0;
            }
            .brand-title {
                height: 105px;
            }
            .brand-link {
                height: 29px;
                line-height: 29px;
                border-top: 1px solid #e9e9e9;
                // width: 195px;
                &:first-child {
                    border-top: none;
                }
            }
        }
    }
    .brand-cell.powered {
        text-align: left;
        margin-top: 20px;
        .brand-content {
            width: 344px;
            margin-bottom: 30px;
            margin-left: 221px;
            &.odd {
                margin-left: 0;
            }

            .brand-title {
                margin-bottom: 10px;
                text-align: left;
            }
            .brand-link {
                height: 88px;
                width: 344px;
                border:1px solid #e9e9e9;
            }
        }
    }
}
