<div class="container">
    <h1 class="pull-left dropdown">
        <a href="/" class="logo">
            <img src="/static/image/logo.png" alt="">            
        </a>
        <a data-toggle="dropdown" href="#" id="dLabel" class="btn">
            <span class="arrow"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="https://portal.qiniu.com/" target="_blank">七牛开发者平台</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="http://www.qiniu.com/" target="_blank">七牛官网</a>
            </li>                
            <li role="presentation">
                <a  role="menuitem" tabindex="-1"href="http://segmentfault.com/qiniu" target="_blank">七牛问答社区</a>
            </li>
        </ul>        
    </h1>

    <div class="pull-right search">
        <input type="text" name="search" id="search" placeholder="全站搜索">
        <span class="global_search_default_sprited" ></span>
    </div>
    <nav class="pull-right nav-home">
        <a href="/" class="active">首页</a>
        <!-- <a href="https://portal.qiniu.com/develop/tutorial">新手上路</a> -->
        <a href="/docs/v6/index.html">文档</a>
        <a href="/download/index.html">资源下载</a>
    </nav>
</div>
<!-- data-toggle="modal" data-target="#myModal" -->