/*----------

// 引入：
// 1. 全局通用变量 variables.less
// 2. 全局通用函数 mixins.less
// 3. 全局 html 样式重置 reset.less
// 4. 全局通用样式 utilities.less
// 5. 全局通用组件库 module.less

----------*/
* {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
.resource_qwebtest_sprited {
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -1843px;
  width: 27px;
  height: 27px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
body {
  font-family: Arial, '微软雅黑';
  background-color: #F5F5F5;
  font-size: 12px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
}
h3 {
  font-weight: bold;
  color: #404040;
}
h3.en {
  font-size: 13px;
}
h3.cn {
  font-size: 12px;
}
h4,
h5,
h6 {
  font-size: 12px;
}
a.more {
  color: #999999;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  padding-bottom: 1px;
}
.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.cell {
  background-color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #e9e9e9;
  border-bottom-width: 2px;
  border-top: 1px solid #eeeeee;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.cell-head {
  color: #262626;
  overflow: hidden;
  margin-bottom: 5px;
}
.cell-head h2 {
  font-weight: bold;
  font-size: 16px;
}
.article-cell {
  margin-top: 20px;
}
.article-cell.cell {
  padding: 25px 25px 0;
}
.article-cell .cell-body li {
  padding: 25px 0;
  border-top: 1px solid #f0f0f0;
  height: 55px;
}
.article-cell .cell-body li:first-child {
  border-top: none;
  height: 56px;
}
.article-cell .cell-body li h3 {
  margin-bottom: 5px;
}
.article-cell .cell-body li h3 span {
  vertical-align: middle;
  margin-right: 10px;
}
.article-cell .cell-body li h3 a {
  color: #404040;
  font-weight: bold;
}
.article-cell .cell-body li p {
  color: #404040;
  line-height: 18px;
  margin-left: 30px;
}
.line {
  margin-top: 20px;
}
.line .cell {
  margin-left: 20px;
  margin-bottom: 1px;
  position: relative;
}
.line .cell:first-child {
  margin-left: 0;
}
.panel {
  width: 258px;
}
.panel.special-panel {
  width: 233px;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  background-color: #FAFAFA;
  font-size: 12px;
  padding: 0 0 0 25px;
  text-align: left;
}
.panel.special-panel a {
  color: #262626;
  display: inline-block;
  width: 233px;
  cursor: pointer;
  height: 36px;
}
.panel.special-panel a.active {
  font-weight: bold;
}
.panel > .panel-heading {
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  background-color: #FAFAFA;
  font-size: 14px;
  padding: 0 25px;
  text-align: right;
  border-top: 1px solid #e9e9e9;
}
.panel > .panel-heading a {
  color: #262626;
  font-weight: normal;
  display: inline-block;
  text-align: left;
  float: left;
}
.panel > .panel-heading a.active {
  font-weight: bold;
}
.panel > .panel-body {
  padding-left: 25px;
  background-color: #FFF;
  border-top: 1px solid #e9e9e9;
  display: none;
}
.panel > .panel-body .level-one > li {
  margin: 10px 0;
}
.panel > .panel-body .level-one > li > span {
  margin-right: 5px;
  vertical-align: middle;
}
.panel > .panel-body .level-one > li span.api_unselect_sprited,
.panel > .panel-body .level-one > li span.api_selected_sprited {
  margin-top: -3px;
}
.panel > .panel-body .level-one > li .panel-heading h5 {
  padding-right: 25px;
  line-height: 21px;
  font-weight: normal;
  position: relative;
}
.panel > .panel-body .level-one > li .panel-heading h5 a {
  margin-left: 3px;
  display: inline-block;
  width: 165px;
}
.panel > .panel-body .level-one > li .panel-heading h5 a.active {
  color: #0c94de;
}
.panel > .panel-body .level-one > li .panel-heading h5 span {
  display: inline-block;
  cursor: pointer;
}
.panel > .panel-body .level-one > li .panel-heading h5 .menu_down {
  float: right;
  position: absolute;
  top: 10px;
  right: 27px;
}
.panel > .panel-body .level-one > li .panel-body {
  margin-left: 20px;
  display: none;
}
.panel > .panel-body .level-one > li .panel-body .level-two li.active > a {
  color: #404040;
}
.panel > .panel-body .level-one > li .panel-body .level-four {
  padding-left: 24px;
}
.panel > .panel-body li {
  line-height: 21px;
}
.panel > .panel-body li a {
  color: #999999;
}
.panel > .panel-body li .link {
  color: #404040;
}
.panel > .panel-body li .link.active {
  color: #0c94de;
}
.panel > .panel-body li.active,
.panel > .panel-body a.active {
  color: #404040;
}
.panel .level-three li {
  text-indent: 24px;
}
.panel .level-three ul {
  padding-left: 24px;
}
.panel:first-child .panel-heading {
  border-top: none;
}
/*----------

css-sprite（图片拼合）

----------*/
.api_default,
.api_down,
.api_resource_sprited,
.api_selected_sprited,
.api_unselect_sprited,
.arrow,
.arrow_on,
.changelog_bug,
.changelog_feature,
.feed_normal,
.feed_on,
.global_download_sprited,
.global_github_footer_sprited,
.global_github_sprited,
.global_mail_sprited,
.global_search_active_sprited,
.global_search_default_sprited,
.global_source_sprited,
.global_tel_sprited,
.global_weibo_sprited,
.global_weixin_sprited,
.icon_close_default_sprited,
.icon_close_hover_sprited,
.index_book_sprited,
.index_clock_sprited,
.index_cmd_sprited,
.index_light_sprited,
.index_resource_sprited,
.index_social_sprited,
.index_sync_sprited,
.index_tool_sprited,
.index_upload_sprited,
.menu_down,
.off_1,
.off_2,
.on_1,
.on_2,
.resource_android_sprited,
.resource_c_sprited,
.resource_cmd_sprited,
.resource_csharp_sprited,
.resource_discuz,
.resource_django,
.resource_drupal,
.resource_emlog,
.resource_go_sprited,
.resource_ios_sprited,
.resource_java_sprited,
.resource_net_sprited,
.resource_nodejs_sprited,
.resource_octopress,
.resource_opoopress,
.resource_perl_sprited,
.resource_php_sprited,
.resource_phpwind,
.resource_plugin,
.resource_python_sprited,
.resource_ruby_sprited,
.resource_sync_sprited,
.resource_tool,
.resource_typecho,
.resource_upload_sprited,
.resource_wordpress,
.sdk-android,
.sdk-c,
.sdk-csharp,
.sdk-go,
.sdk-ios,
.sdk-java,
.sdk-net,
.sdk-nodejs,
.sdk-perl,
.sdk-php,
.sdk-python,
.sdk-ruby {
  background: url('../image/css-sprite.png') no-repeat;
}
.api_default {
  background-position: 0px -1px;
  width: 13px;
  height: 13px;
}
.api_down {
  background-position: 0px -16px;
  width: 13px;
  height: 13px;
}
.api_resource_sprited {
  background-position: 0px -31px;
  width: 60px;
  height: 62px;
}
.api_selected_sprited {
  background-position: 0px -95px;
  width: 14px;
  height: 12px;
}
.api_unselect_sprited {
  background-position: 0px -109px;
  width: 14px;
  height: 12px;
}
.arrow {
  background-position: 0px -123px;
  width: 9px;
  height: 6px;
}
.arrow_on {
  background-position: 0px -131px;
  width: 9px;
  height: 6px;
}
.changelog_bug {
  background-position: 0px -139px;
  width: 16px;
  height: 17px;
}
.changelog_feature {
  background-position: 0px -158px;
  width: 16px;
  height: 17px;
}
.feed_normal {
  background-position: 0px -177px;
  width: 34px;
  height: 108px;
}
.feed_on {
  background-position: 0px -287px;
  width: 34px;
  height: 108px;
}
.global_download_sprited {
  background-position: 0px -397px;
  width: 12px;
  height: 11px;
}
.global_github_footer_sprited {
  background-position: 0px -410px;
  width: 20px;
  height: 17px;
}
.global_github_sprited {
  background-position: 0px -429px;
  width: 13px;
  height: 12px;
}
.global_mail_sprited {
  background-position: 0px -443px;
  width: 20px;
  height: 17px;
}
.global_search_active_sprited {
  background-position: 0px -462px;
  width: 16px;
  height: 16px;
}
.global_search_default_sprited {
  background-position: 0px -480px;
  width: 16px;
  height: 16px;
}
.global_source_sprited {
  background-position: 0px -498px;
  width: 13px;
  height: 11px;
}
.global_tel_sprited {
  background-position: 0px -511px;
  width: 20px;
  height: 17px;
}
.global_weibo_sprited {
  background-position: 0px -530px;
  width: 20px;
  height: 17px;
}
.global_weixin_sprited {
  background-position: 0px -549px;
  width: 20px;
  height: 17px;
}
.icon_close_default_sprited {
  background-position: 0px -568px;
  width: 16px;
  height: 18px;
}
.icon_close_hover_sprited {
  background-position: 0px -588px;
  width: 16px;
  height: 18px;
}
.index_book_sprited {
  background-position: 0px -608px;
  width: 65px;
  height: 57px;
}
.index_clock_sprited {
  background-position: 0px -667px;
  width: 52px;
  height: 57px;
}
.index_cmd_sprited {
  background-position: 0px -726px;
  width: 19px;
  height: 19px;
}
.index_light_sprited {
  background-position: 0px -747px;
  width: 53px;
  height: 57px;
}
.index_resource_sprited {
  background-position: 0px -806px;
  width: 18px;
  height: 16px;
}
.index_social_sprited {
  background-position: 0px -824px;
  width: 18px;
  height: 16px;
}
.index_sync_sprited {
  background-position: 0px -842px;
  width: 19px;
  height: 19px;
}
.index_tool_sprited {
  background-position: 0px -863px;
  width: 18px;
  height: 16px;
}
.index_upload_sprited {
  background-position: 0px -881px;
  width: 19px;
  height: 19px;
}
.menu_down {
  background-position: 0px -902px;
  width: 9px;
  height: 6px;
}
.off_1 {
  background-position: 0px -910px;
  width: 12px;
  height: 14px;
}
.off_2 {
  background-position: 0px -926px;
  width: 14px;
  height: 16px;
}
.on_1 {
  background-position: 0px -944px;
  width: 12px;
  height: 14px;
}
.on_2 {
  background-position: 0px -960px;
  width: 14px;
  height: 16px;
}
.resource_android_sprited {
  background-position: 0px -978px;
  width: 70px;
  height: 40px;
}
.resource_c_sprited {
  background-position: 0px -1020px;
  width: 70px;
  height: 40px;
}
.resource_cmd_sprited {
  background-position: 0px -1062px;
  width: 27px;
  height: 27px;
}
.resource_csharp_sprited {
  background-position: 0px -1091px;
  width: 70px;
  height: 40px;
}
.resource_discuz {
  background-position: 0px -1133px;
  width: 70px;
  height: 40px;
}
.resource_django {
  background-position: 0px -1175px;
  width: 70px;
  height: 40px;
}
.resource_drupal {
  background-position: 0px -1217px;
  width: 70px;
  height: 40px;
}
.resource_emlog {
  background-position: 0px -1259px;
  width: 70px;
  height: 40px;
}
.resource_go_sprited {
  background-position: 0px -1301px;
  width: 70px;
  height: 40px;
}
.resource_ios_sprited {
  background-position: 0px -1343px;
  width: 70px;
  height: 40px;
}
.resource_java_sprited {
  background-position: 0px -1385px;
  width: 70px;
  height: 40px;
}
.resource_net_sprited {
  background-position: 0px -1427px;
  width: 70px;
  height: 40px;
}
.resource_nodejs_sprited {
  background-position: 0px -1469px;
  width: 70px;
  height: 40px;
}
.resource_octopress {
  background-position: 0px -1511px;
  width: 70px;
  height: 40px;
}
.resource_opoopress {
  background-position: 0px -1553px;
  width: 70px;
  height: 40px;
}
.resource_perl_sprited {
  background-position: 0px -1595px;
  width: 70px;
  height: 40px;
}
.resource_php_sprited {
  background-position: 0px -1637px;
  width: 70px;
  height: 40px;
}
.resource_phpwind {
  background-position: 0px -1679px;
  width: 70px;
  height: 40px;
}
.resource_plugin {
  background-position: 0px -1721px;
  width: 36px;
  height: 36px;
}
.resource_python_sprited {
  background-position: 0px -1759px;
  width: 70px;
  height: 40px;
}
.resource_ruby_sprited {
  background-position: 0px -1801px;
  width: 70px;
  height: 40px;
}
.resource_sync_sprited {
  background-position: 0px -1843px;
  width: 27px;
  height: 27px;
}
.resource_tool {
  background-position: 0px -1872px;
  width: 32px;
  height: 29px;
}
.resource_typecho {
  background-position: 0px -1903px;
  width: 70px;
  height: 40px;
}
.resource_upload_sprited {
  background-position: 0px -1945px;
  width: 27px;
  height: 27px;
}
.resource_wordpress {
  background-position: 0px -1974px;
  width: 70px;
  height: 40px;
}
.sdk-android {
  background-position: 0px -2016px;
  width: 65px;
  height: 36px;
}
.sdk-c {
  background-position: 0px -2054px;
  width: 65px;
  height: 36px;
}
.sdk-csharp {
  background-position: 0px -2092px;
  width: 65px;
  height: 36px;
}
.sdk-go {
  background-position: 0px -2130px;
  width: 65px;
  height: 36px;
}
.sdk-ios {
  background-position: 0px -2168px;
  width: 65px;
  height: 36px;
}
.sdk-java {
  background-position: 0px -2206px;
  width: 65px;
  height: 36px;
}
.sdk-net {
  background-position: 0px -2244px;
  width: 65px;
  height: 36px;
}
.sdk-nodejs {
  background-position: 0px -2282px;
  width: 65px;
  height: 36px;
}
.sdk-perl {
  background-position: 0px -2320px;
  width: 65px;
  height: 36px;
}
.sdk-php {
  background-position: 0px -2358px;
  width: 65px;
  height: 36px;
}
.sdk-python {
  background-position: 0px -2396px;
  width: 65px;
  height: 36px;
}
.sdk-ruby {
  background-position: 0px -2434px;
  width: 65px;
  height: 36px;
}
header {
  height: 43px;
  line-height: 43px;
  background-color: #0c94de;
  min-width: 960px;
}
header a {
  font-size: 12px;
}
header .container {
  height: 43px;
}
header .container h1 {
  width: 200px;
  height: 43px;
}
header .container h1 img {
  display: inline-block;
  margin-top: 2px;
}
header .container h1 > a {
  outline: none;
  display: inline-block;
  line-height: 43px;
  height: 43px;
}
header .container h1 > a.btn {
  width: 30px;
  position: relative;
  top: -15px;
  left: 2px;
}
header .container h1 > a.btn span {
  display: inline-block;
}
header .container h1 > a.btn:hover span {
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -131px;
  width: 9px;
  height: 6px;
}
header .container nav.nav-home a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  float: left;
  position: relative;
}
header .container nav.nav-home a:hover,
header .container nav.nav-home a.active {
  height: 40px;
}
header .container nav.nav-home a.active {
  font-weight: bold;
  border-bottom: 3px solid #b7e6ff;
}
header .container nav.nav-home a.active:hover::after,
header .container nav.nav-home a.active:focus::after {
  height: 0px;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
header .container nav.nav-home a.active:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: none;
  content: '';
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
header .container nav.nav-home a:after,
header .container nav.nav-home a::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .container nav.nav-home a:hover::after,
header .container nav.nav-home a:focus::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
header .container nav.nav-home a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #b7e6ff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
header .container .search {
  position: relative;
  line-height: 43px;
  width: 227px;
  margin-right: 2px;
}
header .container .search input {
  width: 215px;
  height: 14px;
  padding: 4px 5px;
  line-height: 14px;
  border: 1px solid #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  vertical-align: middle;
}
header .container .search input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
header .container .search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
header .container .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
header .container .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
header .container .search input:active,
header .container .search input:focus {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}
header .container .search span {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 14px;
}
header .container nav.nav-top {
  text-align: right;
}
header .container nav.nav-top a {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  text-decoration: none;
}
header .container nav.nav-top a:hover {
  color: #ffffff;
}
header .container nav.nav-top a:first-child {
  margin-left: 96px;
}
footer {
  background-color: #FAFAFA;
  border-top: 1px solid #f0f0f0;
  margin-top: 40px;
  color: #999999;
}
footer .link {
  overflow: hidden;
}
footer .link .link-content {
  float: left;
  width: 206px;
  text-align: left;
}
footer .link .link-content h4 {
  color: #787878;
  margin-top: 30px;
}
footer .link .link-content ul {
  margin-bottom: 20px;
}
footer .link .link-content ul li {
  margin: 15px 0;
}
footer .link .link-content ul li a {
  text-decoration: none;
  color: #999999;
}
footer .link .link-content ul li a:hover {
  text-decoration: underline;
}
footer .link .link-content ul li span {
  margin-right: 5px;
  margin-left: -5px;
  margin-top: -5px;
}
footer .link .link-content.cooperation {
  margin-left: 20px;
}
footer .link .link-content.about {
  width: 112px;
}
footer .copyright {
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: url(../image/global_line_sprited.png) center top no-repeat;
}
.zendesk {
  position: fixed;
  right: 0;
  top: 40%;
  margin-top: -54px;
}
.zendesk a {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -177px;
  width: 34px;
  height: 108px;
}
.zendesk a:hover {
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -287px;
  width: 34px;
  height: 108px;
}
.zendesk a span {
  position: absolute;
  top: 37px;
  display: block;
  margin-left: 11px;
  width: 12px;
  height: 60px;
  line-height: 16px;
}
.modal-open .zendesk {
  right: 15px;
}
.api-comment {
  padding: 25px;
}
.api-content {
  width: 652px;
  padding: 25px;
  word-wrap: break-word;
}
.api-content * {
  max-width: 628px;
}
.api-content h1 {
  color: #0c94de;
  margin-bottom: 25px;
  font-size: 24px;
}
.api-content h2 {
  color: #404040;
  font-size: 16px;
  margin: 20px 0;
}
.api-content h3 {
  color: #404040;
  margin: 15px 0;
  text-indent: 5px;
  font-weight: bold;
  font-size: 12px;
}
.api-content h4 {
  color: #404040;
  margin: 15px 0;
  text-indent: 5px;
  font-weight: normal;
  font-size: 12px;
}
.api-content div,
.api-content p,
.api-content ul,
.api-content pre,
.api-content ol {
  margin: 15px 0 20px 24px;
  color: #404040;
}
.api-content div,
.api-content p,
.api-content li {
  line-height: 21px;
}
.api-content ol {
  padding-left: 24px;
  list-style-type: decimal;
}
.api-content ul {
  list-style: disc;
  padding-left: 24px;
}
.api-content li {
  margin: 6px 0;
}
.api-content li p {
  margin: 5px 0 ;
}
.api-content li pre,
.api-content li blockquote {
  margin-left: -24px;
}
.api-content a {
  color: #0c94de;
}
.api-content hr {
  margin: 20px auto;
  padding-left: 24px;
}
.api-content table {
  border: 1px solid #e6e6e6;
  margin-left: 24px;
  max-width: 628px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 96.1%;
  width: 96.1%;
}
.api-content table thead th,
.api-content table thead td {
  background-color: #fafafa;
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
}
.api-content table td,
.api-content table th,
.api-content table caption {
  padding: 10px 8px;
  border: 1px solid #e6e6e6;
  text-align: left;
  vertical-align: middle;
  line-height: 21px;
}
.api-content table td p,
.api-content table th p,
.api-content table caption p {
  margin: 0;
}
.api-content table tbody tr:nth-child(even) {
  background: #f3f3f3;
}
.api-content table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.api-content table tbody tr:hover {
  background-color: #f5f5f5;
}
.api-content table caption {
  border-bottom: none;
}
.api-content pre {
  display: block;
  padding: 12.5px;
  font-size: 12px;
  line-height: 15px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.api-content pre code {
  font-size: 12px;
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
  font-family: Consolas,Monaco,Menlo;
  margin: auto 3px;
}
.api-content blockquote {
  padding: 6px;
  border: 1px solid #faebcc;
  page-break-inside: avoid;
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.api-content blockquote p {
  margin: 0;
}
.api-content code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: Consolas,Monaco,Menlo;
  margin: auto 3px;
}
.api-content img[alt] {
  max-width: 604px;
}
.api-content .center {
  text-align: center;
}
div.api-resource {
  float: right;
  width: 130px;
  padding: 25px;
  padding: 0 20px;
  margin: 0 0 0 25px;
  background-color: #FCFCFC;
  color: #999999;
  line-height: 12px;
  font-size: 12px;
}
div.api-resource div {
  margin: 0;
  line-height: 12px;
}
div.api-resource > span.icon {
  position: absolute;
  top: 25px;
  right: 25px;
}
div.api-resource a {
  color: #999999;
}
div.api-resource .resource-box {
  padding-bottom: 15px;
  padding-top: 15px;
}
div.api-resource .resource-box .title {
  margin-bottom: 15px;
  color: #404040;
}
div.api-resource .resource-box .download {
  margin-bottom: 10px;
}
div.api-resource .resource-box span {
  margin-right: 5px;
}
div.api-resource .pulic-resource {
  border-bottom: 1px solid #e6e6e6;
}
div.api-resource .social-resource .author {
  margin-top: 5px;
  margin-bottom: 15px;
  text-indent: 20px;
}
.autocomplete-suggestions {
  background-color: white;
  padding: 3px;
  border: 1px solid #ccc;
  width: 432px;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 1px 2px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #0c94de;
  color: white;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
/*----------

引入单页面less（按文件名首字母排序）

----------*/
.intro .cell {
  width: 305px;
  height: 168px;
}
.intro .cell span {
  position: absolute;
  left: 30px;
  top: 25px;
}
.intro .cell h2 {
  font-size: 14px;
  position: absolute;
  top: 60px;
  display: inline-block;
}
.intro .cell h2 a {
  color: #0c94de;
}
.intro .cell div {
  line-height: 21px;
  color: #585858;
  position: absolute;
  left: 38px;
  bottom: 35px;
}
.intro .cell:first-child {
  margin-left: 0;
}
.intro .cell:first-child span {
  margin-left: -5px;
}
.intro .cell:first-child h2 {
  left: 90px;
}
.intro .cell:first-child div {
  margin-right: 27px;
}
.intro .cell.quality {
  width: 305px;
}
.intro .cell.quality span {
  margin-left: -5px;
}
.intro .cell.quality h2 {
  left: 98px;
}
.intro .cell.quality div {
  margin-right: 25px;
}
.intro .cell.nail {
  width: 304px;
}
.intro .cell.nail span {
  margin-left: -10px;
}
.intro .cell.nail h2 {
  left: 85px;
}
.intro .cell.nail div {
  margin-right: 28px;
}
.container.index {
  overflow: hidden;
}
.container.index .cell.sdk {
  width: 908px;
}
.container.index .cell.sdk ul li {
  border-left: 1px solid #f0f0f0;
  width: 99px;
}
.container.index .cell.sdk ul li:first-child {
  border-left: none;
}
.container.index .main {
  width: 632px;
}
.container.index .side-bar {
  width: 308px;
  margin-left: 20px;
}
.container.index .side-bar .question {
  margin-bottom: 20px;
  max-height: 305px;
}
.container.index .side-bar .question ul {
  list-style-type: disc;
  margin-left: 26px;
}
.container.index .side-bar .question ul li {
  line-height: 18px;
  padding: 10px 0;
}
.container.index .side-bar .question ul li:first-child {
  padding-top: 0;
}
.container.index .side-bar .resource-community span {
  vertical-align: top;
  margin-top: 5px;
  float: left;
}
.container.index .side-bar .resource-community > div {
  margin-top: 23px;
  overflow: hidden;
}
.container.index .side-bar .resource-community h4 {
  font-weight: normal;
  color: #404040;
  float: left;
  width: 225px;
  margin-left: 10px;
}
.container.index .side-bar .resource-community h4 a {
  display: block;
  line-height: 20px;
}
.container.index .side-bar .resource-community p {
  line-height: 18px;
  margin-left: 30px;
  color: #999999;
}
.container.index .side-bar .resource-community p a {
  color: #999999;
}
.container.index .side-bar .resource-community > p {
  text-align: right;
  margin-top: 23px;
}
.container.index .cell,
.container.docs .cell {
  padding: 25px;
}
.container.index .cell h2,
.container.docs .cell h2 {
  margin-bottom: 25px;
  color: #262626;
  height: 19px;
  line-height: 19px;
}
.container.index .cell a,
.container.docs .cell a {
  color: #0c94de;
}
.container.index .cell.sdk,
.container.docs .cell.sdk {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container.index .cell.sdk h2,
.container.docs .cell.sdk h2 {
  margin-bottom: 15px;
}
.container.index .cell.sdk ul,
.container.docs .cell.sdk ul {
  overflow: hidden;
}
.container.index .cell.sdk ul li,
.container.docs .cell.sdk ul li {
  float: left;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
.container.index .cell.sdk ul li a,
.container.docs .cell.sdk ul li a {
  display: block;
  height: 70px;
  vertical-align: middle;
}
.container.index .cell.sdk ul li a img,
.container.docs .cell.sdk ul li a img {
  vertical-align: middle;
}
.container.index .cell.sdk ul li a:hover,
.container.docs .cell.sdk ul li a:hover {
  height: 68px;
  line-height: 68px;
  border: 1px solid #f0f0f0;
}
.container.index .cell.api,
.container.docs .cell.api {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.container.index .cell.api .cell-line,
.container.docs .cell.api .cell-line {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
  margin-bottom: 3px;
}
.container.index .cell.api .cell-line:first-child,
.container.docs .cell.api .cell-line:first-child {
  border-top: none;
  padding-top: 0;
}
.container.index .cell.api .cell-line h3,
.container.docs .cell.api .cell-line h3 {
  font-size: 12px;
  margin-bottom: 10px;
  color: #404040;
  line-height: 16px;
  height: 16px;
}
.container.index .cell.api .cell-line h4,
.container.docs .cell.api .cell-line h4 {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 8px;
  padding-left: 23px;
  color: #404040;
  font-weight: normal;
  line-height: 16px;
  height: 16px;
}
.container.index .cell.api .cell-line span.icon,
.container.docs .cell.api .cell-line span.icon {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.container.index .cell.api .cell-line span.icon.off_2,
.container.docs .cell.api .cell-line span.icon.off_2 {
  margin-right: 9px;
}
.container.index .cell.api .cell-line ul,
.container.docs .cell.api .cell-line ul {
  overflow: hidden;
  margin-left: 23px;
}
.container.index .cell.api .cell-line ul li,
.container.docs .cell.api .cell-line ul li {
  float: left;
  width: 139px;
  margin-bottom: 10px;
  height: 14px;
  line-height: 14px;
}
.container.index .cell.cli,
.container.docs .cell.cli {
  min-height: 70px;
  padding: 25px 25px 0;
}
.container.index .cell.cli ul,
.container.docs .cell.cli ul {
  overflow: hidden;
}
.container.index .cell.cli ul li,
.container.docs .cell.cli ul li {
  float: left;
  overflow: hidden;
  width: 193px;
  margin-bottom: 20px;
}
.container.index .cell.cli ul li p,
.container.docs .cell.cli ul li p {
  color: #404040;
  line-height: 18px;
  padding-right: 15px;
}
.container.index .cell.cli ul li .logo,
.container.docs .cell.cli ul li .logo {
  width: 26px;
  margin-right: 14px;
}
.container.index .cell.cli ul li .info,
.container.docs .cell.cli ul li .info {
  width: 153px;
}
.container.resource .cell {
  margin-top: 20px;
  position: relative;
}
.container.resource .cell .cell-head {
  padding: 0 25px;
  height: 46px;
  line-height: 46px;
  margin-bottom: 0;
}
.container.resource .cell .cell-head a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  font-size: 12px;
  font-weight: normal;
  float: right;
  height: 26px;
  min-width: 90px;
  line-height: 26px;
  color: #404040;
  border: 1px solid #e9e9e9;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
  margin-top: 10px;
  padding: 0 5px;
}
.container.resource .cell .cell-head a:hover {
  -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  border-color: #d5d5d5;
  text-decoration: none;
}
.container.resource .cell .cell-body {
  overflow: hidden;
  position: relative;
  top: 1px;
  left: -1px;
  border-top: 1px solid #e9e9e9;
  width: 960px;
}
.container.resource .cell .cell-body .resource-card {
  float: left;
  width: 320px;
}
.container.resource .cell .cell-body .resource-card .resource-card-inner {
  border-right: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin-top: -1px;
  padding: 25px 20px 20px 20px;
}
.container.resource .cell .cell-body .resource-card .logo {
  float: left;
}
.container.resource .cell .cell-body .resource-card .logo {
  width: 70px;
  text-align: center;
}
.container.resource .cell .cell-body .resource-card .logo span {
  vertical-align: top;
  margin-top: -5px;
}
.container.resource .cell .cell-body .resource-card .content {
  float: right;
}
.container.resource .cell .cell-body .resource-card .content div {
  color: #404040;
}
.container.resource .cell .cell-body .resource-card .content .name {
  margin-bottom: 12px;
  text-indent: 5px;
  font-weight: bold;
}
.container.resource .cell .cell-body .resource-card .content .name a {
  color: #404040;
}
.container.resource .cell .cell-body .resource-card .content .version,
.container.resource .cell .cell-body .resource-card .content .update-date {
  line-height: 21px;
  text-indent: 5px;
}
.container.resource .cell .cell-body .resource-card .content .url {
  overflow: hidden;
  margin-top: 12px;
  padding-bottom: 1px;
}
.container.resource .cell .cell-body .resource-card .content .url a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  display: block;
  float: right;
  margin-right: 8px;
  height: 26px;
  width: 60px;
  line-height: 26px;
  color: #404040;
  border: 1px solid #e9e9e9;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.container.resource .cell .cell-body .resource-card .content .url a:first-child {
  margin-right: 0;
}
.container.resource .cell .cell-body .resource-card .content .url a:hover {
  -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  border-color: #d5d5d5;
  text-decoration: none;
}
.container.resource .small.cell .cell-body .resource-card {
  width: 320px;
}
.container.resource .small.cell .cell-body .resource-card .resource-card-inner {
  height: 109px;
  padding: 25px 15px 20px 20px;
}
.container.resource .large.cell .cell-body .resource-card {
  width: 480px;
}
.container.resource .large.cell .cell-body .resource-card .resource-card-inner {
  height: 128px;
}
.container.resource .large.cell .cell-body .resource-card .content {
  width: 356px;
}
.container.resource .large.cell .cell-body .resource-card .content .describe,
.container.resource .large.cell .cell-body .resource-card .content .info {
  margin-left: 5px;
  line-height: 21px;
}
.container.resource .large.cell .cell-body .resource-card .content .describe {
  height: 42px;
}
.container.resource .large.cell .cell-body .resource-card .content .info .version {
  margin-right: 15px;
}
.container.resource .large.cell .cell-body .resource-card .content .url {
  margin-left: 154px;
}
.container.resource .community-plugin.cell,
.container.resource .community-sdk.cell {
  position: relative;
}
.container.resource .community-plugin.cell .cell-body .resource-card .content .author,
.container.resource .community-sdk.cell .cell-body .resource-card .content .author {
  color: #999999;
}
.container.resource .community-plugin.cell .cell-body .resource-card .content .author a,
.container.resource .community-sdk.cell .cell-body .resource-card .content .author a {
  color: #999999;
}
.bx-controls {
  position: absolute;
  bottom: -25px;
  width: 100%;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #b4b4b4;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  line-height: 14px;
  color: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #0c94de;
  text-decoration: none;
}
.container.api {
  margin-top: 20px;
  padding-bottom: 0px;
}
.container.api .side-bar-parent {
  width: 258px;
  height: auto;
}
.container.api .main,
.container.api .side-bar {
  margin-top: 0;
}
.container.api .main {
  position: relative;
  width: 702px;
}
.container.api .main .main-inner {
  border-left: 1px solid #e9e9e9;
  margin-left: -1px;
}
.container.api .side-bar {
  width: 258px;
  border-bottom: 1px solid #e9e9e9;
}
.container.api .side-bar .panel-box {
  border-right: 1px solid #e9e9e9;
}
.container.docs {
  overflow: hidden;
}
.container.docs .side-bar-parent {
  width: 260px;
  margin-top: 20px;
  height: auto;
}
.container.docs .side-bar {
  background-color: #fff;
  width: 258px;
  border: 1px solid #e9e9e9;
}
.container.docs .main {
  margin-left: 20px;
  width: 680px;
}
.container.docs .main .cell.sdk ul li {
  width: 88px;
}
.container.docs .main .cell.cli ul li {
  width: 208px;
}
.container.changelog {
  margin-top: 20px;
  padding-bottom: 0px;
}
.container.changelog .cell {
  padding: 25px 25px 10px;
  margin-bottom: 20px;
}
.container.changelog .cell h2 {
  margin-bottom: 25px;
  color: #262626;
  height: 19px;
  line-height: 19px;
}
.container.changelog .cell a {
  color: #0c94de;
}
.container.changelog .cell .cell-line {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
  margin-bottom: 3px;
}
.container.changelog .cell .cell-line:first-child {
  border-top: none;
  padding-top: 0;
}
.container.changelog .cell .cell-line h3 {
  font-size: 12px;
  margin-bottom: 10px;
  color: #404040;
  line-height: 16px;
  height: 16px;
}
.container.changelog .cell .cell-line span.icon {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.container.changelog .cell .cell-line ul {
  overflow: hidden;
  margin-left: 23px;
}
.container.changelog .cell .cell-line ul li {
  margin-bottom: 10px;
  line-height: 20px;
}
.container.changelog .cell .cell-line ul li p.info {
  color: #999;
}
.container.changelog .main {
  width: 680px;
}
.container.changelog .side-bar {
  width: 258px;
}
.container.changelog .side-bar ul {
  list-style-type: disc;
  margin-left: 26px;
}
.container.changelog .side-bar ul li {
  height: 30px;
  vertical-align: top;
}
/*----------

覆盖hightlight\modals\dropdonws

----------*/
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
pre code {
  display: block;
  padding: 0.5em;
  font: 12px Arial;
  line-height: 2em;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic;
}
pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #787878;
  font-weight: bold;
}
pre .number,
pre .hexcolor,
pre .ruby .constant {
  color: #099;
}
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  /*color:#d14*/

  color: #409B1C;
}
pre .title,
pre .id {
  color: #900;
  font-weight: bold;
}
pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
  font-weight: normal;
}
pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold;
}
pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal;
}
pre .attribute,
pre .variable,
pre .lisp .body {
  /*color:#008080*/

  color: #FF7800;
}
pre .regexp {
  color: #009926;
}
pre .class {
  color: #458;
  font-weight: bold;
}
pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
  color: #990073;
}
pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #0086b3;
}
pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold;
}
pre .deletion {
  background: #ffdddd;
}
pre .addition {
  background: #ddffdd;
}
pre .diff .change {
  background: #0086b3;
}
pre .chunk {
  color: #aaaaaa;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 100;
  display: none;
  float: left;
  min-width: 150px;
  margin: 2px 0 0;
  list-style: none;
  width: 150px;
  background-color: #0c94de;
  background-color: rgba(12, 148, 222, 0.9);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu > li {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}
.dropdown-menu > li > a {
  display: block;
  padding-left: 13px;
  clear: both;
  line-height: 29px;
  font-size: 12px;
  color: #ffffff;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 20px;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.modal-open {
  overflow-y: hidden;
  margin-right: 15px;
}
.modal {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.modal-dialog {
  position: relative;
  width: 812px;
  z-index: 1010;
  background-color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 110px auto;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.modal-content {
  position: relative;
  outline: none;
}
.modal-content span.icon {
  position: absolute;
  right: 22px;
  top: 20px;
  cursor: pointer;
}
.modal-content span.icon:hover {
  cursor: pointer;
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -588px;
  width: 16px;
  height: 18px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.modal-header {
  padding: 0 25px;
  line-height: 67px;
  height: 65px;
}
.modal-header h2 {
  font-weight: bold;
  font-size: 18px;
  color: #262626;
}
.modal-body {
  position: relative;
  padding: 0 25px 25px 25px;
}
.modal-body p {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 33px;
}
.modal-body .result-line .ops-line {
  margin-bottom: 26px;
  line-height: 18px;
}
.modal-body .result-line .ops-line h5 a {
  color: #0c94de;
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
}
.modal-body .result-line .ops-line .url a {
  color: #404040;
}
#api-comment #ds-thread #ds-reset {
  font-size: 12px;
  color: #404040;
}
#api-comment #ds-thread #ds-reset .ds-meta {
  border-bottom: 1px solid #e9e9e9;
}
#api-comment #ds-thread #ds-reset .ds-meta a {
  display: inline-block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  font-size: 12px;
  font-weight: normal;
  padding: 0 8px;
  color: #404040;
  border: 1px solid #e9e9e9;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
  background: none;
}
#api-comment #ds-thread #ds-reset .ds-meta a:hover {
  -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  border-color: #d5d5d5;
  text-decoration: none;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-sort a {
  font-size: 12px;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-sort .ds-current {
  color: #333;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-comments-tabs .ds-tab {
  display: inline;
  font-size: 13px;
  margin: 0 5px 0 0;
  padding: 0;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-comments-tabs a {
  display: inline-block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  font-size: 12px;
  font-weight: normal;
  min-width: 59px;
  color: #404040;
  border: 1px solid #e9e9e9;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
  padding: 0 5px;
  background: none;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-comments-tabs a:hover {
  -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.75);
  border-color: #d5d5d5;
  text-decoration: none;
}
#api-comment #ds-thread #ds-reset .ds-comments-info .ds-comments-tabs a span {
  color: #404040;
}
#api-comment #ds-thread #ds-reset li.ds-post {
  border-top: 1px solid #e9e9e9;
}
#api-comment #ds-thread #ds-reset .ds-comments {
  border-bottom: 1px solid #e9e9e9;
}
#api-comment #ds-thread #ds-reset .ds-user-name {
  font-size: 12px;
}
#api-comment #ds-thread #ds-reset .ds-avatar {
  box-shadow: none;
}
#api-comment #ds-thread #ds-reset .ds-avatar img {
  box-shadow: none;
}
#api-comment #ds-thread #ds-reset .ds-comment-body p {
  font-size: 12px;
}
#api-comment #ds-thread #ds-reset .ds-login-buttons .ds-more-services,
#api-comment #ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover {
  color: #999999 !important;
}
#api-comment #ds-thread #ds-reset .ds-account-control ul {
  background: #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border: none;
}
#api-comment #ds-thread #ds-reset .ds-account-control ul li a {
  border-bottom-color: #e9e9e9;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper {
  border: 1px solid #e4e4e4;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea,
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper .ds-hidden-text {
  font-size: 12px;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea {
  line-height: 20px;
  color: #404040;
  resize: none;
  background: #fff;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  font-size: 12px;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea:-moz-placeholder {
  color: #c8c8c8;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea::-moz-placeholder {
  color: #c8c8c8;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea:-ms-input-placeholder {
  color: #c8c8c8;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper textarea::-webkit-input-placeholder {
  color: #c8c8c8;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:hover,
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:focus,
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:active {
  border: 1px solid #d7d7d7;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:hover textarea,
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:focus textarea,
#api-comment #ds-thread #ds-reset .ds-replybox .ds-textarea-wrapper:active textarea {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-post-toolbar .ds-post-options {
  border: 1px solid #e4e4e4;
  border-top: none;
  background: none;
  border-right: none;
  border-bottom-color: #e4e4e4;
  height: 28px;
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-post-toolbar .ds-post-button {
  background-color: #0c94de;
  height: 30px;
  font-size: 12px;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
  text-shadow: none;
  outline: 0;
  top: -1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0c94de), to(#0c94de));
  background-image: -webkit-linear-gradient(top, #0c94de, 0%, #0c94de, 100%);
  background-image: -moz-linear-gradient(top, #0c94de 0%, #0c94de 100%);
  background-image: linear-gradient(to bottom, #0c94de 0%, #0c94de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0c94de', endColorstr='#ff0c94de', GradientType=0);
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-post-toolbar .ds-post-button:hover {
  background: #149ce6;
  text-shadow: none;
  outline: 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#149ce6), to(#149ce6));
  background-image: -webkit-linear-gradient(top, #149ce6, 0%, #149ce6, 100%);
  background-image: -moz-linear-gradient(top, #149ce6 0%, #149ce6 100%);
  background-image: linear-gradient(to bottom, #149ce6 0%, #149ce6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149ce6', endColorstr='#ff149ce6', GradientType=0);
}
#api-comment #ds-thread #ds-reset .ds-replybox .ds-post-toolbar .ds-post-button:active {
  -webkit-box-shadow: inset 0 1px 0 #2f6124;
  box-shadow: inset 0 1px 0 #2f6124;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0789d0), to(#0789d0));
  background-image: -webkit-linear-gradient(top, #0789d0, 0%, #0789d0, 100%);
  background-image: -moz-linear-gradient(top, #0789d0 0%, #0789d0 100%);
  background-image: linear-gradient(to bottom, #0789d0 0%, #0789d0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0789d0', endColorstr='#ff0789d0', GradientType=0);
  background-color: #0789d0;
  outline: 0;
}
#api-comment #ds-thread #ds-reset .ds-powered-by {
  display: none;
}
#api-comment #ds-thread #ds-reset #ds-bubble {
  border: none;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
#api-comment #ds-thread #ds-reset #ds-bubble * {
  font-size: 12px;
  color: #404040;
}
#api-comment #ds-thread #ds-reset .ds-highlight {
  color: #0c94de !important;
}
#api-comment #ds-thread #ds-reset a.ds-comment-context {
  color: #0c94de;
}
#api-comment #ds-thread #ds-reset #ds-hot-posts {
  border: 1px solid #e9e9e9;
}
#api-comment #ds-thread #ds-reset .ds-gradient-bg {
  background: none;
}
body #ds-wrapper #ds-reset {
  font-size: 12px;
}
body #ds-wrapper #ds-reset .ds-dialog-inner {
  width: 100%;
  position: relative;
  border: none;
  background: #ffffff url("http://static.duoshuo.com/images/bg_sprites.png") 0 -90px repeat-x;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
body #ds-wrapper #ds-reset .ds-dialog-inner .ds-dialog-body {
  padding: 35px 25px 25px;
  padding-top: 35px !important;
}
body #ds-wrapper #ds-reset h2 {
  color: #262626;
  margin-top: -8px;
  font-weight: bold;
}
body #ds-wrapper #ds-reset .ds-control-group input {
  height: 20px;
  line-height: 20px;
  border: 1px solid #e4e4e4;
  border-color: #e4e4e4;
  color: #404040;
  resize: none;
  background: #fff;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  font-size: 12px;
}
body #ds-wrapper #ds-reset .ds-control-group input:hover,
body #ds-wrapper #ds-reset .ds-control-group input:active,
body #ds-wrapper #ds-reset .ds-control-group input:focus {
  outline: 0;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
body #ds-wrapper #ds-reset .ds-control-group label {
  font-size: 12px;
  top: 10px;
  display: none;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper {
  border: 1px solid #e4e4e4;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea,
body #ds-wrapper #ds-reset .ds-textarea-wrapper .ds-hidden-text {
  font-size: 12px;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea {
  line-height: 20px;
  color: #404040;
  resize: none;
  background: #fff;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  font-size: 12px;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea:-moz-placeholder {
  color: #c8c8c8;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea::-moz-placeholder {
  color: #c8c8c8;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea:-ms-input-placeholder {
  color: #c8c8c8;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper textarea::-webkit-input-placeholder {
  color: #c8c8c8;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper:hover,
body #ds-wrapper #ds-reset .ds-textarea-wrapper:focus,
body #ds-wrapper #ds-reset .ds-textarea-wrapper:active {
  border: 1px solid #d7d7d7;
}
body #ds-wrapper #ds-reset .ds-textarea-wrapper:hover textarea,
body #ds-wrapper #ds-reset .ds-textarea-wrapper:focus textarea,
body #ds-wrapper #ds-reset .ds-textarea-wrapper:active textarea {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
body #ds-wrapper #ds-reset .ds-actions {
  min-height: 30px;
  height: auto;
  text-align: left;
}
body #ds-wrapper #ds-reset form {
  text-align: center;
}
body #ds-wrapper #ds-reset button,
body #ds-wrapper #ds-reset .ds-actions button {
  background-color: #0c94de;
  font-size: 12px;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
  text-shadow: none;
  outline: 0;
  margin: 15px auto 0;
  position: static;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0c94de), to(#0c94de));
  background-image: -webkit-linear-gradient(top, #0c94de, 0%, #0c94de, 100%);
  background-image: -moz-linear-gradient(top, #0c94de 0%, #0c94de 100%);
  background-image: linear-gradient(to bottom, #0c94de 0%, #0c94de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0c94de', endColorstr='#ff0c94de', GradientType=0);
}
body #ds-wrapper #ds-reset button:hover,
body #ds-wrapper #ds-reset .ds-actions button:hover {
  background: #149ce6;
  text-shadow: none;
  color: #fff;
  outline: 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#149ce6), to(#149ce6));
  background-image: -webkit-linear-gradient(top, #149ce6, 0%, #149ce6, 100%);
  background-image: -moz-linear-gradient(top, #149ce6 0%, #149ce6 100%);
  background-image: linear-gradient(to bottom, #149ce6 0%, #149ce6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149ce6', endColorstr='#ff149ce6', GradientType=0);
}
body #ds-wrapper #ds-reset button:active,
body #ds-wrapper #ds-reset .ds-actions button:active {
  -webkit-box-shadow: inset 0 1px 0 #2f6124;
  box-shadow: inset 0 1px 0 #2f6124;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0789d0), to(#0789d0));
  background-image: -webkit-linear-gradient(top, #0789d0, 0%, #0789d0, 100%);
  background-image: -moz-linear-gradient(top, #0789d0 0%, #0789d0 100%);
  background-image: linear-gradient(to bottom, #0789d0 0%, #0789d0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0789d0', endColorstr='#ff0789d0', GradientType=0);
  background-color: #0789d0;
  outline: 0;
  color: #fff;
}
body #ds-wrapper #ds-reset .ds-dialog-footer {
  display: none;
}
body #ds-wrapper #ds-reset .ds-dialog-close {
  right: 22px;
  top: 20px;
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -568px;
  width: 16px;
  height: 18px;
}
body #ds-wrapper #ds-reset .ds-dialog-close:hover:hover {
  cursor: pointer;
  background: url('../image/css-sprite.png') no-repeat;
  background-position: 0px -588px;
  width: 16px;
  height: 18px;
}
body #ds-smilies-tooltip {
  border: none;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
body #ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border-bottom: 1px solid #e9e9e9;
}
body #ds-smilies-tooltip ul.ds-smilies-tabs li a.ds-current {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #f5f5f5, 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: none;
  box-shadow: none;
}
