{{ .includes.header}}

    <div class="container brand">
        <div class="brand-cell brand">
            <h2 class="brand-head">一、我们的标识</h2>
            <div class="brand-body">
                <p>为获得最佳推广效果，强烈建议直接使用各Logo图片链接。</p>
                <div class="brand-content  logo">
                    <div class="brand-title">标识</div>
                    <a href="http://qiniu-brand.qiniudn.com/1/logo-409x220.png" target="_blank">
                        <img src="http://qiniu-brand.qiniudn.com/1/logo-409x220.png" alt="">
                    </a>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/1/logo-409x220.png" target="_blank">下载409x220px</a>
                        <a href="http://qiniu-brand.qiniudn.com/1/logo-204x109.png" target="_blank">下载204x109px</a>
                        <a href="http://qiniu-brand.qiniudn.com/1/logo-122x65.png" target="_blank">下载122x65px</a>
                    </div>
                </div>
                <div class="brand-content cn">
                    <div class="brand-title">图形标识+中文</div>
                    <a href="http://qiniu-brand.qiniudn.com/2/logo-620x205.png" target="_blank">
                        <img src="http://qiniu-brand.qiniudn.com/2/logo-620x205.png" alt="">
                    </a>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/2/logo-620x205.png" target="_blank">下载620x205px</a>
                        <a href="http://qiniu-brand.qiniudn.com/2/logo-312x104.png" target="_blank">下载312x104px</a>
                        <a href="http://qiniu-brand.qiniudn.com/2/logo-180x60.png" target="_blank">下载180x60px</a>
                    </div>
                </div>
                <div class="brand-content en pull-left">
                    <div class="brand-title">图形标识+英文</div>
                    <a href="http://qiniu-brand.qiniudn.com/3/logo-410x180.png" target="_blank">
                        <img src="http://qiniu-brand.qiniudn.com/3/logo-410x180.png" alt="">
                    </a>
                    <img src="http://qiniu-brand.qiniudn.com/3/logo-410x180.png" alt="">
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/3/logo-410x180.png" target="_blank">下载410x180px</a>
                        <a href="http://qiniu-brand.qiniudn.com/3/logo-205x89.png" target="_blank">下载205x89px</a>
                        <a href="http://qiniu-brand.qiniudn.com/3/logo-125x55.png" target="_blank">下载122x55px</a>
                    </div>
                </div>
                <div class="brand-content pic pull-left">
                    <div class="brand-title">图形标识</div>
                    <a href="http://qiniu-brand.qiniudn.com/4/logo-185x135.png" target="_blank">
                        <img src="http://qiniu-brand.qiniudn.com/4/logo-185x135.png" alt="">
                    </a>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/4/logo-185x135.png" target="_blank">下载185x135px</a>
                        <a href="http://qiniu-brand.qiniudn.com/4/logo-93x68.png" target="_blank">下载93x68px</a>
                        <a href="http://qiniu-brand.qiniudn.com/4/logo-55x41.png" target="_blank">下载55x41px</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-cell color">
            <h2 class="brand-head">二、颜色</h2>
            <div class="brand-body">
                <div class="brand-content pull-left">
                    <div class="brand-title">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-white-195x105.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/5/logo-white-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-white-195x105.png" target="_blank">下载195x105px</a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-white-97x51.png" target="_blank">下载97x51px</a>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title blue">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-blue-195x105.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/5/logo-blue-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-blue-195x105.png" target="_blank">下载195x105px</a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-blue-97x51.png" target="_blank">下载97x51px</a>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title  black">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-black-195x105.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/5/logo-black-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-black-195x105.png" target="_blank">下载195x105px</a>
                    </div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/5/logo-black-97x51.png" target="_blank">下载97x51px</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-cell powered">
            <h2 class="brand-head">三、Powered by Qiniu</h2>
            <div class="brand-body">
                <div class="brand-content pull-left odd">
                    <div class="brand-title">透明背景</div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/6/logo-power-transparent.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/6/logo-power-transparent.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title">白色背景</div>
                    <div class="brand-link">
                        <a href="http://qiniu-brand.qiniudn.com/6/logo-power-white.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/6/logo-power-white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left odd">
                    <div class="brand-title">标准色反色背景</div>
                    <div class="brand-link blue">
                        <a href="http://qiniu-brand.qiniudn.com/6/logo-power-blue.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/6/logo-power-blue.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left ">
                    <div class="brand-title">黑色或深色背景</div>
                    <div class="brand-link black">
                        <a href="http://qiniu-brand.qiniudn.com/6/logo-power-black.png" target="_blank">
                            <img src="http://qiniu-brand.qiniudn.com/6/logo-power-black.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <ul class="bxslider">
      <li>
      </li>
      <li>
      </li>
    </ul> -->
    </div>
    {{.includes.search_result}}
    {{.includes.footer}}
