{{ .includes.header_start}}
    <title>
        {{ .page.title }} | 七牛云存储
    </title>
{{ .includes.header}}
    <div class="container changelog">
        <div class="main pull-left">
            {{range .data.changelog.logs}} {{$month:=.month}} {{range .items}}
            <div class="cell" data-log="log-{{print $month}}">
                <h2>发布日期：{{.date}}</h2>
                <div class="cell-body">
                    <div class="cell-line">
                        <h3>
                            <span class="icon changelog_feature"></span>新增功能</h3>
                        <ol class="features">
                            {{range .features}}
                            <li>
                                <p class="title"><a href="{{.href}}">{{.title}}</a>
                                </p>
                                <p class="info">{{.info}}</p>
                            </li>
                            {{end}}
                        </ol>
                    </div>
                    <div class="cell-line">
                        <h3>
                            <span class="icon changelog_bug"></span>问题修复</h3>
                        <ol>
                            {{range .bugs}}
                            <li>
                                <p class="title">{{.title}}</p>
                                <p class="info">{{.info}}</p>
                            </li>
                            {{end}}
                        </ol>
                    </div>
                </div>
        </div>
        {{end}} {{end}}
        </div>
        <div class="side-bar pull-right">
            <div class="cell">
                <h2>日志归档</h2>
                <ul>
                    {{range .data.changelog.logs}}
                    <li>
                        <a target="blank" href="#" class="log-{{.month}}">{{.month}}</a>
                        <sapn>( {{len .items}} )</sapn>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
    {{.includes.search_result}}
     {{.includes.footer}}
