{{ .includes.header_start}}
    <title>
        {{ .page.title }} | 七牛云存储
    </title>
{{ .includes.header}}
{{$url:=.page.url}}
    <div class="container cell api fixed-sibebar">
        <div class="pull-left side-bar-parent">
        <div class="side-bar pull-left">
            <div class="panel-box">
                <div class="panel special-panel">
                    <a href="/docs/v6/index.html">
                        文档首页
                    </a>
                </div>
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#">
                                    教程
                                </a>
                            <span class="icon api_default">
                            </span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <ul class="panel-list level-one">
                            {{range .data.guide.Items}}
                            <li>
                                <span class="icon off_1">
                                </span>
                                <a class="link" href="/{{.Href}}">
                                {{.Title}}
                                    </a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" {{if isstart_with $url .data.apiview.Name}} class="active"{{end}}> 新手指南 </a>

                            {{if isstart_with $url .data.apiview.Name}}
                            <span class="icon api_down">
                            {{else}}
                            <span class="icon api_default">
                            {{end}}
                            </span>
                        </h4>
                    </div>
                    <div class="panel-body" {{if isstart_with $url .data.apiview.Name}} style="display:block"{{end}}>
                        <ul class="panel-list level-one">
                            {{range .data.apiview.Items}}
                            <li>
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="icon off_2">
                                        </span>
                                        <a href="/{{.Href}}" class="link"> {{.Title}} </a>
                                       {{if isstart_with $url .Href }}
                                            {{if isnot_nil_or_empty .Child}}
                                            <span class="icon menu_down"></span>
                                            {{end}}
                                        {{end}}
                                    </h5>
                                </div>
                                <div class='panel-body panel-status' {{if isstart_with $url .Href }} style="display:block"{{end}}>
                                    {{if isnot_nil_or_empty .Child}}
                                    <ul class="panel-list level-three nav">
                                        {{range .Child}}
                                        <li>
                                            <a href="/{{.Href}}"> {{.Title}} </a>
                                            {{if isnot_nil_or_empty .Child}}
                                            <ul class="panel-list level-four nav">
                                                {{range .Child}}
                                                <li>
                                                    <a href="/{{.Href}}">{{.Title}} </a>
                                                </li>
                                                {{end}}
                                            </ul>
                                            {{end}}
                                        </li>
                                        {{end}}
                                    </ul>
                                    {{end}}
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" {{if isstart_with $url .data.apiref.Name}} class="active"{{end}}> API参考手册</a>

                            {{if isstart_with $url .data.apiref.Name}}
                            <span class="icon api_down">
                            {{else}}
                            <span class="icon api_default">
                            {{end}}
                            </span>
                        </h4>
                    </div>
                    <div class="panel-body" {{if isstart_with $url .data.apiref.Name}} style="display:block"{{end}}>
                        <ul class="panel-list level-one">
                            {{range .data.apiref.Items}}
                            <li>
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="icon off_2">
                                        </span>
                                        <a href="/{{.Href}}" class="link"> {{.Title}} </a>
                                       {{if isstart_with $url .Href }}
                                            {{if isnot_nil_or_empty .Child}}
                                            <span class="icon menu_down"></span>
                                            {{end}}
                                        {{end}}
                                    </h5>
                                </div>
                                <div class='panel-body panel-status' {{if isstart_with $url .Href }} style="display:block"{{end}}>
                                    {{if isnot_nil_or_empty .Child}}
                                    <ul class="panel-list level-three nav">
                                        {{range .Child}}
                                        <li>
                                            <a href="/{{.Href}}"> {{.Title}} </a>
                                            {{if isnot_nil_or_empty .Child}}
                                            <ul class="panel-list level-four nav">
                                                {{range .Child}}
                                                <li>
                                                    <a href="/{{.Href}}">{{.Title}} </a>
                                                </li>
                                                {{end}}
                                            </ul>
                                            {{end}}
                                        </li>
                                        {{end}}
                                    </ul>
                                    {{end}}
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" {{if isstart_with $url "docs/v6/sdk/"}} class="active"{{end}}> SDK </a>

                        {{if isstart_with $url "docs/v6/sdk/"}}
                            <span class="icon api_down">
                        {{else}}
                            <span class="icon api_default">
                        {{end}}
                        </span>
                        </h4>
                    </div>
                    <div class="panel-body" {{if isstart_with $url "docs/v6/sdk/"}} style="display:block"{{end}}>
                        <ul class="panel-list level-one">
                            {{range .data.resource.sdk}}
                            <li>
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="icon off_1">
                                        </span>
                                        <a href="/{{.doc}}" class="link">{{.menuName}} </a>
                                       {{if eq .doc $url}}
                                            <span class="icon menu_down"></span>
                                        {{end}}
                                    </h5>
                                </div>
                                <div class="panel-body" id="{{.name}}-sdk" {{if eq .doc $url}}
style="display:block"
{{end}}>

                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" {{if isstart_with $url "docs/v6/tools/"}} class="active"{{end}}> 工具</a>

                        {{if isstart_with $url "docs/v6/tools/"}}
                            <span class="icon api_down">
                        {{else}}
                            <span class="icon api_default">
                        {{end}}
                        </span>
                        </h4>
                    </div>
                    <div class="panel-body"  {{if isstart_with $url "docs/v6/tools/"}} style="display:block" {{end}}>
                        <ul class="panel-list level-one">
                            {{range .data.resource.devtools}}
                            <li>
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="icon off_1">
                                        </span>
                                        <a href="/{{.doc}}" class="link">{{.label}} </a>
                                       {{if eq .doc $url}}
                                            <span class="icon menu_down"></span>
                                        {{end}}
                                    </h5>
                                </div>
                                <div class="panel-body" id="{{.label}}" {{if eq .doc $url}}
style="display:block"
{{end}}>

                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" {{if isstart_with $url .data.kb.Name}} class="active"{{end}}> 技术文章</a>

                        {{if isstart_with $url .data.kb.Name}}
                            <span class="icon api_down">
                        {{else}}
                            <span class="icon api_default">
                        {{end}}
                            </span>
                        </h4>
                    </div>
                    <div class="panel-body" {{if isstart_with $url .data.kb.Name}} style="display:block"{{end}}>
                        <ul class="panel-list level-one">
                            {{range .data.kb.Items}}
                            <li>
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span class="icon off_1">
                                        </span>
                                        <a href="/{{.Href}}" class="link"> {{.Title}} </a>
                                        <span class="icon"></span>
                                    </h5>
                                </div>
                                <div class="panel-body  panel-status" {{if isstart_with $url .Href }} style="display:block"{{end}}>
                                    {{if isnot_nil_or_empty .Child}}
                                    <ul class="panel-list level-three nav">
                                        {{range .Child}}
                                        <li>
                                            <a href="/{{.Href}}"> {{.Title}} </a>
                                            {{if isnot_nil_or_empty .Child}}
                                            <ul class="panel-list level-four nav">
                                                {{range .Child}}
                                                <li>
                                                    <a href="/{{.Href}}">{{.Title}} </a>
                                                </li>
                                                {{end}}
                                            </ul>
                                            {{end}}
                                        </li>
                                        {{end}}
                                    </ul>
                                    {{end}}
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <div class="main pull-right">
            <div class="main-inner">
                <div class="api-content">
                    <!--
                    <div class="api-resource cell">
                        <span class="icon api_resource_sprited">
                        </span>
                        <div class="resource-box pulic-resource">
                            <div class="title">
                                官方资源
                            </div>
                            <div class="download">
                                <span class="icon global_download_sprited">
                                </span>
                                <a href="">
                                        下载PHP SDK
                                    </a>
                            </div>
                            <div class="github">
                                <span class="icon global_github_sprited">
                                </span>
                                <a href="">
                                        查看源代码
                                    </a>
                            </div>
                        </div>
                        <div class="resource-box social-resource">
                            <div class="title">
                                PHP社区资源
                            </div>
                            <div>
                                <span class="icon global_source_sprited">
                                </span>
                                <a href="">
                                        第三方的描述撒大声
                                    </a>
                            </div>
                            <div class="author">
                                作者：
                                <a href="">
                                        张三勇
                                    </a>
                            </div>
                            <div>
                                <span class="icon global_source_sprited">
                                </span>
                                <a href="">
                                        第三方sdk for PHP
                                    </a>
                            </div>
                            <div class="author">
                                作者：
                                <a href="">
                                        张三勇
                                    </a>
                            </div>
                        </div>
                    </div>
                    -->
                    {{ .content }}
                </div>
                <div class="api-comment" id="api-comment">
                    <!-- Duoshuo Comment BEGIN -->
                    <div class="ds-thread"></div>
                    <script type="text/javascript">
                    var duoshuoQuery = {short_name:"qiniu"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- Duoshuo Comment END -->
                </div>
            </div>
        </div>
    </div>
    <!-- 资源下载页，社区插件/社区SDK分页插件，暂时未用到 -->
    <!--<script type="text/javascript" src="/static/js/jquery.bxslider/jquery.bxslider.min.js"></script> -->
    {{ .includes.search_result}}
    {{ .includes.footer }}
