{{ .includes.header}}
    <title>
        {{ .page.title }} | 七牛云存储
    </title>
{{ .includes.header_bottom}}
    <div class="container index">
        <div class="sdk cell">
            <h2>SDK</h2>
            <ul>
                <li>
                    <a target="blank" href="/docs/v6/sdk/objc-sdk.html" title="iOS/Mac SDK" class="sdk-logo">
                        <span class="icon sdk-objc"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/android-sdk.html" title="Android SDK" class="sdk-logo">
                        <span class="icon sdk-android"></span>
                    </a>
                </li>

                <li>
                    <a target="blank" href="/docs/v6/sdk/java-sdk.html" title="Java SDK" class="sdk-logo ">
                        <span class="icon sdk-java"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/php-sdk.html" title="PHP SDK" class="sdk-logo ">
                        <span class="icon sdk-php"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/csharp-sdk.html" title="C# SDK" class="sdk-logo ">
                        <span class="icon sdk-csharp"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/ruby-sdk.html" title="Ruby SDK" class="sdk-logo ">
                        <span class="icon sdk-ruby"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/python-sdk.html" title="Python SDK" class="sdk-logo ">
                        <span class="icon sdk-python"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/go-sdk.html" title="Go SDK" class="sdk-logo ">
                        <span class="icon sdk-go"></span>
                    </a>
                </li>
                <li>
                    <a target="blank" href="/docs/v6/sdk/" title="More" class="sdk-logo last-child ">
                        <span class="icon sdk-more"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container index">
        <div class="main pull-left">
            <div class="api  cell">
                <h2>API文档</h2>
                <div class="cell-body">
                    <div class="cell-line">
                        <h3>
                            <span class="icon index_resource_sprited"></span>开发基础</h3>
                        <ul>
                            <li><a href="/docs/v6/api/overview/concepts.html">关键概念</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/programming-model.html">编程模型</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/security.html">安全机制</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cell-line">
                        <h3>
                            <span class="icon index_resource_sprited"></span>上传资源</h3>
                        <ul>
                            <li><a href="/docs/v6/api/overview/up/upload-models/">上传模型</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/upload-models/upload-types.html#form-upload">表单上传</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/upload-models/upload-types.html#chunked-upload">分片上传</a>
                            </li>
                        </ul>
                        <h4>
                            <!-- <span class="icon off_2"></span> -->上传后续动作</h4>
                        <ul>
                            <li><a href="/docs/v6/api/overview/up/upload-models/response-types.html#simple-response">简单反馈</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/upload-models/response-types.html#callback">回调</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/upload-models/response-types.html#redirect">303重定向</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/response/response-body.html">自定义响应内容</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/response/vars.html">变量</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/up/upload-models/response-types.html#persistent-op">数据预处理</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cell-line">
                        <h3>
                            <span class="icon index_resource_sprited"></span>下载资源</h3>
                        <ul>
                            <li><a href="/docs/v6/api/overview/dn/security.html">安全机制</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/dn/download.html">资源下载</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/dn/v2:download-settings.html">下载设置</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/dn/advanced-download.html">高级下载</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cell-line">
                        <h3>
                            <span class="icon index_resource_sprited"></span>资源管理</h3>
                        <ul>
                            <li><a href="/docs/v6/api/overview/security.html">安全机制</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/rs/rs.html">管理操作</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cell-line">
                        <h3>
                            <span class="icon index_resource_sprited"></span>数据处理</h3>
                        <ul>
                            <li><a href="/docs/v6/api/overview/fop/fop/fop.html">数据处理机制</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/fop/fop/pipeline.html">管道</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/fop/fop/persistent-fop.html">处理结果持久化</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/fop/fop/style.html">样式</a>
                            </li>
                            <li><a href="/docs/v6/api/overview/fop/streaming.html">流媒体播放</a>
                            </li>
                        </ul>
                        <h4>
                            <!-- <span class="icon off_2"></span> -->内置数据处理功能</h4>
                        <ul>
                            <li><a href="/docs/v6/api/reference/fop/image/">图片处理</a>
                            </li>
                            <li><a href="/docs/v6/api/reference/fop/av/">音视频处理</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cli cell">
                <h2 class="">工具</h2>
                <ul>
                    {{range .data.resource.devtools}}
                    <li>
                        <div class="pull-left logo">
                            <span class="icon resource_{{.name}}_sprited"></span>
                        </div>
                        <div class="pull-left info">
                            <a href="/docs/v6/tools/{{.label}}.html">{{.label}}</a>
                            <p>{{.title}}</p>
                        </div>
                    </li>
                    {{end}}
                </ul>
            </div>
            <div class="demo cell">
                <a href="/demo/index.html">
                    <img src="/dist/image/css-sprite/demo_dev.png" alt="">
                </a>
            </div>
        </div>
        <div class="side-bar pull-left">
            <div class="question cell">
                <h2>七牛解决方案和应用场景</h2>
                <h3>解决方案</h3>
                <ul>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/education.pdf">在线教育</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/tv.pdf">广电</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/security.pdf">安防</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/hardware.pdf">智能硬件</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/O2O.pdf">O2O</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/tour.pdf">旅游</a></li>
                    <li><a target="_blank" href="http://developer.qiniu.com/resource/entertainment.pdf">娱乐</a></li>
                </ul>
                <h3>应用场景</h3>
                <ul>
                    <li><a target="blank" href="http://developer.qiniu.com/resource/%E4%BA%91%E5%AD%98%E5%82%A8%E5%BA%94%E7%94%A8%E5%9C%BA%E6%99%AF%E5%85%A8%E6%80%BB%E7%BB%93%E2%80%93%E9%9F%B3%E8%A7%86%E9%A2%91%E7%AF%87.pdf">音视频</a> </li>
                    <li><a target="blank" href="http://developer.qiniu.com/resource/[%E4%B8%83%E7%89%9B%E5%BA%94%E7%94%A8%E5%9C%BA%E6%99%AF%E4%B8%89%E6%AD%A5%E6%9B%B2]%E4%B9%8B%E5%9B%BE%E7%89%87%E7%AF%87.pdf">图片</a> </li>
                    <li><a target="blank" href="http://developer.qiniu.com/resource/best-practice-of-qiniu.pdf">最佳实践</a> </li>
                    </li>
                </ul>
            </div>
            <div class="question cell">
                <h2>常见问题</h2>
                <ul>
                    <li><a target="blank" href="http://kb.qiniu.com/solve_your_errors_quickly">常见问题快速排查</a> </li>
                    <li><a target="blank" href="http://kb.qiniu.com/52irs1co">申请防盗链</a> </li>
                    <li><a target="blank"  href="http://kb.qiniu.com/how-to-use-image-storage-and-qrsync">如何使用镜像存储？</a> </li>
                    <li><a target="blank"  href="http://kb.qiniu.com/534uaze3">网站加速</a> </li>
                    <li><a target="blank"  href="/docs/v6/kb/testing.html">如何对七牛测速？</a>
                    </li>
                </ul>
            </div>
            <div class="resource-community cell">
                <h2>社区资源</h2>
                <div>
                    <span class="icon index_social_sprited"></span>
                    <h4>
                        <a href="http://blog.wpjam.com/project/wpjam-qiniutek/">七牛镜像存储 WordPress 插件：一键实现 WordPress 博客静态文件 CDN 加速</a>
                    </h4>
                    <p>作者：我爱水煮鱼
                    </p>
                </div>
                <div>
                    <span class="icon index_social_sprited"></span>
                    <h4>
                        <a href="http://www.discuz.net/thread-3399569-1-1.html">Discuz插件，将DiscuzX的文件保存到七牛云存储</a>
                    </h4>
                    <p>作者：discuz
                    </p>
                </div>
                <div>
                    <span class="icon index_social_sprited"></span>
                    <h4>
                        <a href="https://github.com/iwillwen/qiniu.js/tree/develop">前端js第三方SDK，用于构建网页七牛云存储应用，支持文件上传、进度查询、预览、文件处理等功能</a>
                    </h4>
                    <p>作者：小问
                    </p>
                </div>
                <div>
                    <span class="icon index_tool_sprited"></span>
                    <h4>
                        <a href="http://staticfile.org/">开放静态文件CDN，为开源库稳定、快速的加速， 由七牛云存储提供存储和加速</a>
                    </h4>
                </div>
                <p><a href="/download#plugin">更多»</a></p>
            </div>
        </div>
    </div>
    {{.includes.search_result}}
    {{.includes.footer}}
